<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drawcoco">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".CajaSuscripcion"></activity>
        <activity
            android:name=".Coordinador"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Inicio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreacionPost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VisualizarPost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Filtrar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ajustes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".formularios.Registro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".perfiles.PerfilCreador"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Desplegable"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Estadisticas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Galeria"
            android:screenOrientation="portrait" />
        <activity
            android:name=".perfiles.PerfilCliente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".formularios.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>